.content {
  background-color: rgb(247, 247, 247);
  overflow-y: auto;
}

.container2 {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 12px;
}

.tableSection {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(225, 227, 238);
  border-radius: 16px;
  margin-bottom: 24px;
}

.tableHeaders {
  padding: 16px;
  background-color: #f8f9fa;
  border-bottom: 1px solid rgb(225, 227, 238);
}

.tableRows {
  padding: 16px;
}

.tableRow {
  margin-top: 8px;
}

.deleteButton {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  padding: 0;
}

.table-row-actions {
  padding: 16px;
}

.footer {
  left: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.2) -3px 1px 4px 0px;
  height: 76px;
  z-index: 10;
}

.container2 {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.validateButton {
  background-color: rgb(22, 45, 83);
  border: none;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  min-width: 165px;
  padding: 10px 20px;
  outline: none;
}
