.taskListItem {
  border-bottom: 1px solid #ddd;
}

.tasksLink {
  display: block;
  width: 100%;
  padding: 12px 15px;
  text-align: left;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tasksLink:hover {
  background-color: #e9ecef;
}

.selected {
  background-color: rgb(222, 238, 255);
}

.taskListLinkIcon {
  margin-right: 10px;
  vertical-align: middle;
}

.completed .taskListLinkIcon {
  color: #28a745;
}
