.header {
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
}

.brs-table th {
  background-color: green;
  color: white;
  padding: 13px;
}

.brs-table td {
  padding: 15px;
}

.colSpacer {
  width: 15px;
}

.footer {
  background: #fff;
  border-top: 1px solid #e6e6e6;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
}

.errorMsg {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: 500;
}
