.style-0 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(246, 247, 251);
}

.style-1 {
  max-width: 1320px;
  margin: 0px 291.5px;
  padding: 0px 12px;
  box-sizing: border-box;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.style-2 {
  margin: 0px;
  padding: 12px 0px 30px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  list-style: outside none none;
  margin-top: 0px;
  padding-left: 0px;
  border-radius: 4px;
}

.style-3 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  text-align: left;
}

.style-4 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 12px;
}

.style-5 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  text-decoration: none solid rgb(33, 37, 41);
  font-weight: 700;
}

.style-6 {
  padding-top: 2px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 12px;
}

.style-7 {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: 15px;
  opacity: 1;
  border: 0px none rgb(33, 37, 41);
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
  font-size: 12px;
}

.style-8 {
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  display: block;
  width: initial;
  height: 15px;
  opacity: 1;
  border: 0px none rgb(33, 37, 41);
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-size: 12px;
}

.style-9 {
  display: block;
  max-width: 100%;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  width: initial;
  height: 15px;
  opacity: 1;
  border: 0px none rgb(33, 37, 41);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  vertical-align: middle;
}

.style-10 {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: 0px none rgb(33, 37, 41);
  margin: auto;
  display: block;
  width: 0px;
  height: 15px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.style-11 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  text-align: left;
}

.style-12 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 12px;
}

.style-13 {
  max-width: 1320px;
  margin: 0px 291.5px;
  padding: 0px 12px;
  box-sizing: border-box;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.style-14 {
  margin: 0px -12px;
  padding: 0px;
  box-sizing: border-box;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: -12px;
  margin-left: -12px;
}

.style-15 {
  flex: 0 0 auto;
  width: 100%;
  margin: 0px;
  padding: 0px 12px;
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 0px;
}

.style-16 {
  flex: 0 0 auto;
  width: 100%;
  margin: 0px 0px 8px;
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.style-17 {
  margin: 0px 0px 4px;
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 4px;
  display: flex;
  margin-top: 0px;
  padding-left: 0px;
  list-style-type: none;
  list-style: outside none none;
}

.style-18 {
  margin: 0px;
  padding: 16px 0px 0px;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 0px;
  padding-left: 0px;
  list-style: outside none none;
  text-align: left;
}

.style-19 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 34px;
  height: 37px;
  border-radius: 4px;
  border: 3px solid rgba(42, 58, 141, 0.18);
  background-color: rgb(31, 127, 52);
  display: inline-block;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  line-height: 30.6px;
  letter-spacing: 0.13px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.38);
  background: rgb(31, 127, 52)
    url("https://nergy-itr-simulation.azurewebsites.net/assets/img/tick_ic.svg")
    no-repeat scroll 50% 50% / auto padding-box border-box;
}

.style-20 {
  margin: 0px;
  padding: 16px 0px 0px;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 0px;
  padding-left: 0px;
  list-style: outside none none;
  text-align: left;
}

.style-21 {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: 10px;
  opacity: 1;
  border: 0px none rgb(33, 37, 41);
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
}

.style-22 {
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  display: block;
  width: initial;
  height: 10px;
  opacity: 1;
  border: 0px none rgb(33, 37, 41);
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

.style-23 {
  display: block;
  max-width: 100%;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  width: initial;
  height: 10px;
  opacity: 1;
  border: 0px none rgb(33, 37, 41);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  vertical-align: middle;
}

.style-24 {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: 0px none rgb(33, 37, 41);
  margin: auto;
  display: block;
  width: 0px;
  height: 10px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.style-25 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 3px solid rgb(8, 117, 226);
  font-weight: 700;
  color: rgb(0, 0, 0);
  width: 34px;
  height: 37px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  line-height: 30.6px;
  letter-spacing: 0.13px;
  text-align: center;
  vertical-align: middle;
}

.style-26 {
  opacity: 1;
  color: green;
  color: rgb(0, 128, 0);
  margin: 17.6px 0px 16px;
  padding: 0px;
  box-sizing: border-box;
  height: 2px;
  background-color: rgb(0, 128, 0);
  border: 0px;
  border-top: 2px solid rgba(42, 58, 141, 0.18);
  float: left;
  width: 156.7px;
  margin-top: 17.6px;
  clear: none;
}

.style-27 {
  margin: 0px;
  padding: 16px 0px 0px;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 0px;
  padding-left: 0px;
  list-style: outside none none;
  text-align: left;
}

.style-28 {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: 12px;
  opacity: 1;
  border: 0px none rgb(33, 37, 41);
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
}

.style-29 {
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  display: block;
  width: initial;
  height: 12px;
  opacity: 1;
  border: 0px none rgb(33, 37, 41);
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

.style-30 {
  display: block;
  max-width: 100%;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  width: initial;
  height: 12px;
  opacity: 1;
  border: 0px none rgb(33, 37, 41);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  vertical-align: middle;
}

.style-31 {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  inset: 2px 0px 0px;
  box-sizing: border-box;
  padding: 0px;
  border: 0px none rgb(33, 37, 41);
  margin: auto;
  display: block;
  width: 0px;
  height: 12px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  top: 2px;
  vertical-align: middle;
}

.style-32 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 34px;
  height: 37px;
  border-radius: 4px;
  border: 3px solid rgba(42, 58, 141, 0.18);
  background-color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  line-height: 30.6px;
  letter-spacing: 0.13px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.38);
}

.style-33 {
  margin: 17.6px 0px 16px;
  padding: 0px;
  box-sizing: border-box;
  height: 2px;
  color: rgb(33, 37, 41);
  background-color: rgb(33, 37, 41);
  border: 0px;
  opacity: 0.25;
  border-top: 2px solid rgba(42, 58, 141, 0.18);
  float: left;
  width: 156.7px;
  margin-top: 17.6px;
  clear: none;
}

.style-34 {
  margin: 0px;
  padding: 16px 0px 0px;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 0px;
  padding-left: 0px;
  list-style: outside none none;
  text-align: left;
}

.style-35 {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: 12px;
  opacity: 1;
  border: 0px none rgb(33, 37, 41);
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
}

.style-36 {
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  display: block;
  width: initial;
  height: 12px;
  opacity: 1;
  border: 0px none rgb(33, 37, 41);
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

.style-37 {
  display: block;
  max-width: 100%;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  width: initial;
  height: 12px;
  opacity: 1;
  border: 0px none rgb(33, 37, 41);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  vertical-align: middle;
}

.style-38 {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  inset: 2px 0px 0px;
  box-sizing: border-box;
  padding: 0px;
  border: 0px none rgb(33, 37, 41);
  margin: auto;
  display: block;
  width: 0px;
  height: 12px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  top: 2px;
  vertical-align: middle;
}

.style-39 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 34px;
  height: 37px;
  border-radius: 4px;
  border: 3px solid rgba(42, 58, 141, 0.18);
  background-color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  line-height: 30.6px;
  letter-spacing: 0.13px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.38);
}

.style-40 {
  margin: 17.6px 0px 16px;
  padding: 0px;
  box-sizing: border-box;
  height: 2px;
  color: rgb(33, 37, 41);
  background-color: rgb(33, 37, 41);
  border: 0px;
  opacity: 0.25;
  border-top: 2px solid rgba(42, 58, 141, 0.18);
  float: left;
  width: 156.7px;
  margin-top: 17.6px;
  clear: none;
}

.style-41 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
}

.style-42 {
  margin: 0px 74px 0px 0px;
  padding: 0px;
  box-sizing: border-box;
  margin-right: 74px;
  font-weight: 600;
  font-size: 14px;
  padding-left: 0px;
}

.style-43 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.style-44 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.style-45 {
  padding-left: 40px;
  margin: 0px;
  box-sizing: border-box;
  margin-right: 0px;
  font-weight: 600;
  font-size: 14px;
}

.style-46 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.style-47 {
  margin: 0px;
  padding: 0px 0px 0px 104px;
  box-sizing: border-box;
  margin-right: 0px;
  padding-left: 104px;
  font-weight: 600;
  font-size: 14px;
}

.style-48 {
  color: rgba(0, 0, 0, 0.38);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.style-49 {
  color: rgba(0, 0, 0, 0.38);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.style-50 {
  margin: 0px;
  padding: 0px 0px 0px 70px;
  box-sizing: border-box;
  padding-left: 70px;
  margin-right: 0px;
  font-weight: 600;
  font-size: 14px;
}

.style-51 {
  color: rgba(0, 0, 0, 0.38);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.style-52 {
  color: rgba(0, 0, 0, 0.38);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.style-53 {
  flex: 0 0 auto;
  width: 66.6667%;
  margin: 0px;
  padding: 0px 12px;
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 0px;
}

.style-54 {
  margin: 24px 0px 0px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 24px;
}

.style-55 {
  font-size: 24px;
  margin: 0px 0px 8px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 28.8px;
}

.style-56 {
  flex: 0 0 auto;
  width: 66.6667%;
  margin: 0px;
  padding: 0px 12px;
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 0px;
}

.style-57 {
  min-height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 12px;
  margin: 8px 0px 48px;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 48px;
  margin-top: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  -webkit-background-clip: border-box;
  -webkit-background-clip: border-box;
}

.style-58 {
  margin: 0px 0px 16px;
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.style-59 {
  margin: 0px 0px 8px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 8px;
  font-weight: 600;
  line-height: 24px;
}

.style-60 {
  margin: 0px 0px 16px;
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.style-61 {
  min-height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 12px;
  margin: 0px;
  padding: 24px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  -webkit-background-clip: border-box;
  -webkit-background-clip: border-box;
}

.style-62 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.style-63 {
  margin: 0px 0px 8px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 8px;
  font-weight: 600;
  line-height: 24px;
}

.style-64 {
  overflow-y: scroll;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.style-65 {
  margin: 0px 0px 16px;
  padding: 0px 0px 0px 32px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 16px;
  padding-left: 32px;
}

.style-66 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: left;
}

.style-67 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.6);
}

.style-68 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: left;
}

.style-69 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.6);
}

.style-70 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: left;
}

.style-71 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.6);
}

.style-72 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: left;
}

.style-73 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.6);
}

.style-74 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: left;
}

.style-75 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.6);
}

.style-76 {
  margin: 0px 0px 16px;
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.style-77 {
  margin: 0px 0px 2px;
  padding: 0px 0px 0px 24px;
  box-sizing: border-box;
  display: block;
  min-height: 24px;
  padding-left: 24px;
  margin-bottom: 2px;
}

.style-78 {
  box-shadow: none;
  margin: 3px 3px 3px -24px;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 0px;
  width: 1em;
  height: 18px;
  margin-top: 3px;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  border: 0px none rgb(0, 0, 0);
  appearance: auto;
  -webkit-print-color-adjust: exact;
  float: left;
  margin-left: -24px;
  font-family: Roboto-Regular;
  font-size: 16px;
  line-height: 24px;
  padding-left: 0px;
  cursor: default;
  margin-right: 3px;
}

.style-79 {
  margin: 0px;
  padding: 0px 0px 0px 10px;
  box-sizing: border-box;
  display: inline-block;
  padding-left: 10px;
}

.style-80 {
  margin: 0px 0px 48px;
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 48px;
}

.style-81 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.style-82 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.style-83 {
  box-shadow: none;
  margin: 0px;
  padding: 0px 24px;
  box-sizing: border-box;
  color: rgb(42, 58, 141);
  border-color: rgb(42, 58, 141);
  display: inline-block;
  align-self: center;
  font-weight: 500;
  line-height: 20.96px;
  text-align: center;
  text-decoration: none solid rgb(42, 58, 141);
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(42, 58, 141);
  font-size: 16px;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: button;
  text-transform: none;
  font-family: Roboto-Regular;
  min-height: 46px;
  min-width: 98px;
}

.style-84 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.style-85 {
  padding: 0px 24px;

  font-weight: 500;
  line-height: 20.96px;
  text-align: center;
  text-decoration: none solid rgb(126, 126, 126);

  cursor: pointer;

  border: 1px solid rgb(193, 193, 193);
  font-size: 16px;
  border-radius: 4px;
}

.style-86 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
}

.style-87 {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
  display: block;
  overflow: hidden;
  width: initial;
  height: 20.9531px;
  opacity: 1;
  border: 0px none rgb(126, 126, 126);
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
}

.style-88 {
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  display: block;
  width: initial;
  height: 20px;
  opacity: 1;
  border: 0px none rgb(126, 126, 126);
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

.style-89 {
  display: block;
  max-width: 100%;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  width: initial;
  height: 20px;
  opacity: 1;
  border: 0px none rgb(126, 126, 126);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  vertical-align: middle;
}

.style-90 {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: 0px none rgb(126, 126, 126);
  margin: auto;
  display: block;
  width: 0px;
  height: 20.9531px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  vertical-align: middle;
}
